
@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-container {
    width: 50%;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #60a5fa, #6366f1, #8b5cf6);
  }
.styled-input {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
.dataBox{
    height: 30px;
    width:200px;
    text-align: center;
    background-color: chocolate;
    border: 3px solid #ccc;
    border-color: burlywood;
}
.buttonBox{
  height: 30px;
  width:50px;
  text-align: center;
  background-color: chocolate;
  border: 3px solid #ccc;
  border-color: burlywood;
}
.Box{
    height: 30px;
    width:200px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: white;
    border-color:lightgrey;
}
